@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@media all and (max-width: 600px) {
    .multi_search_container {
        flex-direction: column;
    }
}

#main_func_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2000px;
}

.multi_search_container {
    color: black;
    background-color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
    
    font-family: 'MICEGothic Bold';
    font-size : 16px;
    

}

.multi_search_container > * > * {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.msBox {
    width: 1300px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.msBox > * {
    padding: 10px;
}

#msBox_1 {
    height: 50px;
    align-items: center;
}

#msBox_2 {
    height: 300px;
    justify-content: center;
}

#msBox_3 {
    height: 150px;
}

#msBox_4 {
    height: 1100px;
    margin-bottom: 20px;
    justify-content: space-between;
}

#msBox_2 > * > * {
    padding: 20px;
}

#msBox_1_title {
    color: white;
    background: black;
}

#msBox_2_box_1 {
    margin-right: 20px;
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#msBox_2_box_2 {
    flex: 6;
}

#msBox_3_box_1 {
    flex: 4;
    margin-right: 20px;
}

#msBox_3_box_2 {
    flex: 2;
    margin-right: 20px;
}

#msBox_3_box_3 {
    flex: 4;
}

.msBox_4_boxes > * , .msBox_4_boxes > * > *{
    margin-top: 20px;
    text-align: center;
}

.msBox_4_boxes {
    height: 1100px;
    font-size : 22px;
}

#msBox_2_box_1_textArea {
    flex: 9;
    margin-bottom: 20px;
    background-color: #464E54;
    color: white;
}

#msBox_2_box_1_btn {
    flex: 1;
    color: white;
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: large;
}

#msBox_2_box_1_btn:hover {
    color: black;
    background-color: white;
}

.champImg {
    width: 25px;
    height: 25px;
}

.laneGameImg {
    width: 25px;
    height: 25px;
}

.msBox_4_box_1_box_4_currentGames{
	display : -webkit-inline-box;
	text-align: center;
	width : 230px;
	font-size : 16px;
}

.msBox_4_box_2_box_4_currentGames{
	display : -webkit-inline-box;
	text-align: center;
	width : 230px; 
	font-size : 16px;
}

.msBox_4_box_3_box_4_currentGames{
	display : -webkit-inline-box;
	text-align: center;
	width : 230px; 
	font-size : 16px;
}

.msBox_4_box_4_box_4_currentGames{
	display : -webkit-inline-box;
	text-align: center;
	width : 230px; 
	font-size : 16px;
}

.msBox_4_box_5_box_4_currentGames{
	display : -webkit-inline-box;
	text-align: center;
	width : 230px;
	font-size : 16px;
}

img {
	margin : 5.8px;
}

.laneImg {
	width : 40px;
	height: 40px;
	margin : 15px;
}

#msBox_3_box_3_mostLanes {
	margin-top: 20px;
	width : 500px;
	height : 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
}
/*
.header_space {
    flex: 5;
    padding: 20px;
}

.login_container {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}*/
