.point_shop_container {
    color: black;
    background-color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

}

/*.point_shop_container > *,*/
.point_shop_container > * > * {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.psBox {
    width: 1300px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.psBox > * {
    padding: 10px;
}

#psBox_1 {
    height: 50px;
    align-items: center;
}

#psBox_2 {
    height: 300px;
    justify-content: space-around;
}

#psBox_3 {
    height: 50px;
    justify-content: flex-start;
}

#psBox_4 {
    height: 550px;
    margin-bottom: 20px;
    justify-content: space-between;
}

#psBox_2 > * > * {
    padding: 20px;
}

#psBox_1_title {
    color: white;
    background: black;
}

.psBox_2_boxes {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.psBox_3_btns {
    margin: 0px 10px 0px 10px;
    color: white;
    background-color: black;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: large;
}

.psBox_3_btns:hover {
    color: black;
    background-color: white;
}

img {
    width: 150px;
    height: 150px;
}

/*
.header_space {
    flex: 5;
    padding: 20px;
}

.login_container {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}*/
