@charset "UTF-8";

.search-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-box {
	/* 생략 */
	background-color: #949BA0;
	height: 40px;
	padding: 10px;
}

.search-btn {
	color: #EDEDED;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #949BA0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-txt {
	float: left;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	color: white;
	font-size: 15px;
	line-height: 40px;
}

.search-box {
	/* 생략 */
	border-radius: 40px; /* 추가 */
}

.search-txt {
	/* 생략 */
	width: 0; /* 추가 */
	transition: 0.5s; /* 추가 */
}

.search-box:hover>form .search-txt {
	width: 500px;
}

.search-box:hover>form .search-btn {
	background: #464E54;
}

.content_area {
	width: 100%;
	height: 1000px;
}